<div class="block">
  <h3>Ações</h3>
  <ul class="navigation">
    <li><%= link_to "Voltar para o cliente / fornecedores", person_path(@person)  %></li>
    <li><%= link_to "Registrar uma conta", new_person_account_path(@person)  %></li>
  </ul>
</div>

