  <script type="text/javascript">
    $(function() {
    $("#components").accordion({ autoHeight: false, navigation: true });
  });
  </script>

  <div id="components">
    <%= render(:partial => "list_account_show") %>
    <%= render(:partial => "list_contract_show") %>
  </div>

