<div class="block">
  <h3>Ações para cadastros</h3>
  <ul class="navigation">
    <li><%= link_to "Cadastro de bancos", banks_path  %></li>
    <li><%= link_to "Cadastro de pessoas", people_path  %></li>
  </ul>
</div>

