    <li><%= link_to "Voltar para o cliente / fornecedores", person_path(@person)  %></li>
    <li><%= link_to "Registrar uma conta", new_person_account_path(@person)  %></li>
    <li><%= link_to "Criar Contrato / Financiamento", new_person_contract_path(@person)  %></li>

