        <p>
          <b><%= t("activerecord.attributes.bank.code", :default => t("activerecord.labels.code", :default => "Code")) %>:</b>
          <%= @bank.code %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.bank.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @bank.name %>
        </p>

