<div class="block">
  <h3>Ações de Bancos</h3>
  <ul class="navigation">
    <li><%= link_to "Listar Bancos", banks_path  %></li>
    <li><%= link_to "Criar Banco", new_bank_path  %></li>
  </ul>
</div>

